@import "_variables.scss";

.btn,
.btn:link,
.btn:visited {
    text-transform:uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    background-color: #00BCD4;
    margin: 1rem auto;
    font-size: 2rem;
    border-radius: 10rem;
    transition: 0.3s;
}
.btn-green {
    background-color:color(#00BCD4);
   
    color: #fff;
}
.btn:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 0.5rem rbga(color(#212121), 0.6);
}