@import "_variables.scss";
.food-parent {
    width: 60rem;
    height: 40rem;
}
.food-gallery {
    margin: 3rem;
    position: relative;
}
.food-photo {
    position: absolute;
    height: 20rem;
    box-shadow: 0 1.5rem 1 rem rbga(color(#212121), 0.4);
    transition: all 0.3s;
}
.food-photo-1 {
    top: 10rem;
    left: 15%;
}
.food-photo-2 {
    top: 2rem;
    right: 0;
}
.food-photo-1 {
    top: -2rem;
    left: 0;
}