@import "_variables.scss";
.text-effect {
    background-image: url("basicgrid.jpg");
    background-position: center;
    color: transparent;
    font-size: 8rem;
    -webkit-background-clip: text;
    transition: all 0.3;
}