html,
body {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$colors: (
    blue: #57b3ff,
    green:  rgb(73, 226, 180),
    black: #000,
);
@function color($color-name) {
    @return map-get($colors,$color-name);
}
