html,
body {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$colors: (
   Dark cyan: #0097A7,
   Light cyan: #B2EBF2,
   Cyan: #00BCD4,
   White: #FFFFFF,
   Darker light green: #8BC34A,
   Black:#212121,
   Grey: #757575,
   Light grey: #BDBDBD,
);
@function color($color-name) {
    @return map-get($colors,$color-name);
}
