@import "_variables.scss";
@import "_btn.scss";
@import "bear.scss";
@import "_text-effect.scss";

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #B2EBF2;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  background-color: #00BCD4;
  margin: 1rem auto;
  font-size: 2rem;
  border-radius: 10rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-green {
  color: #fff;
}
.btn:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rbga(color(#212121), 0.6);
          box-shadow: 0 10px, 0.5rem rbga(color(#212121), 0.6);
}

.btn-red {
  background-color:color(#8BC34A);
  color: #fff;
}
.btn:hover{
  transform: scale(1.25);
  box-shadow: 0 10px 0.5rem rbga(color(#212121), 0.6);
}

.bear {
  height: 20rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.bear:hover {
  border-radius: 0;
  -webkit-filter: sepia(100%);
          filter: sepia(100%);
  -webkit-transform: contrast(90%);
          transform: contrast(90%);
}

.container {
  width: 80vw;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}